.spec-of-week
  .container
    .row
      .col-12
        .week__body
          img.photo(src='./media/image/specialist.png' alt='rkb')
          .week__info
            .title.week-bg СПЕЦИАЛИСТ НЕДЕЛИ
            .info__wrapper
              .info__text
                .name Аббазов Ренас Ринатович
                .place Хирургическая служба - Урологическое отделение №2
                .post Врач-ревматолог высшей категории
              a.info__link(href='/specialist.html') Подробнее о специалисте
            .week__desc.week-bg
              p Современные технологии в области медицины дают надежду многим больным, у которых при имеющемся диагнозе, раньше, просто не было шанса на жизнь.
              span — «Современные технологии в области медицины дают надежду многим больным!»