.thanks-slider
  .container
    .row
      .col-12
        .thanks__title Благодарности докторам
        .thanks-slider__body.owl-carousel.owl-theme
          .item
            .name Алексей Фокин
            .date 7.04.2020 15:37
            .rate
              .star.active
              .star.active
              .star.active
              .star.active
              .star
            .text Здравствуйте! Хочу выразить ОГРОМНУЮ БЛАГОДАРНОСТЬ и самые наилучшие пожелания коллективам торакальных отделений! Находясь на лечении с последующей операцией убедился в том что не всё у нас потеряно, столько внимания и понимания к своим пациентам д...
            .reed-more Читать полностью
          .item
            .name Садриева Анзиля
            .date 7.04.2020 15:37
            .rate
              .star.active
              .star.active
              .star.active
              .star.active
              .star
            .text Хочу сказать огромное спасибо врачам эндокринологического отделения - Рахимзяновой Ризале Ханнановне, Газимовой Розе Алмазовне и заведующей эндокринологического отделения РКБ - Бареевой Луизе Талгатовне и шефу терапевтической клиники РКБ - Абдулганиевой Диане
          .item
            .name Алексей Фокин
            .date 7.04.2020 15:37
            .rate
              .star.active
              .star.active
              .star.active
              .star.active
              .star
            .text Здравствуйте! Хочу выразить ОГРОМНУЮ БЛАГОДАРНОСТЬ и самые наилучшие пожелания коллективам торакальных отделений! Находясь на лечении с последующей операцией убедился в том что не всё у нас потеряно, столько внимания и понимания к своим пациентам д...
            .reed-more Читать полностью
          .item
            .name Садриева Анзиля
            .date 7.04.2020 15:37
            .rate
              .star.active
              .star.active
              .star.active
              .star.active
              .star
            .text Хочу сказать огромное спасибо врачам эндокринологического отделения - Рахимзяновой Ризале Ханнановне, Газимовой Розе Алмазовне и заведующей эндокринологического отделения РКБ - Бареевой Луизе Талгатовне и шефу терапевтической клиники РКБ - Абдулганиевой Диане
          .item
            .name Алексей Фокин
            .date 7.04.2020 15:37
            .rate
              .star.active
              .star.active
              .star.active
              .star.active
              .star
            .text Здравствуйте! Хочу выразить ОГРОМНУЮ БЛАГОДАРНОСТЬ и самые наилучшие пожелания коллективам торакальных отделений! Находясь на лечении с последующей операцией убедился в том что не всё у нас потеряно, столько внимания и понимания к своим пациентам д...
            .reed-more Читать полностью
          .item
            .name Садриева Анзиля
            .date 7.04.2020 15:37
            .rate
              .star.active
              .star.active
              .star.active
              .star.active
              .star
            .text Хочу сказать огромное спасибо врачам эндокринологического отделения - Рахимзяновой Ризале Ханнановне, Газимовой Розе Алмазовне и заведующей эндокринологического отделения РКБ - Бареевой Луизе Талгатовне и шефу терапевтической клиники РКБ - Абдулганиевой Диане
          .item
            .name Алексей Фокин
            .date 7.04.2020 15:37
            .rate
              .star.active
              .star.active
              .star.active
              .star.active
              .star
            .text Здравствуйте! Хочу выразить ОГРОМНУЮ БЛАГОДАРНОСТЬ и самые наилучшие пожелания коллективам торакальных отделений! Находясь на лечении с последующей операцией убедился в том что не всё у нас потеряно, столько внимания и понимания к своим пациентам д...
            .reed-more Читать полностью
          .item
            .name Садриева Анзиля
            .date 7.04.2020 15:37
            .rate
              .star.active
              .star.active
              .star.active
              .star.active
              .star
            .text Хочу сказать огромное спасибо врачам эндокринологического отделения - Рахимзяновой Ризале Ханнановне, Газимовой Розе Алмазовне и заведующей эндокринологического отделения РКБ - Бареевой Луизе Талгатовне и шефу терапевтической клиники РКБ - Абдулганиевой Диане