
.servis-page {
  padding: 100px 0;
}
.accordion {
  margin-bottom: 100px;
  .accordion_item {
    img {
      width: 28px;
      height: 40px;
      object-fit: cover;
      object-position: center;
      margin-bottom: 24px;
    }
    h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      color: #111111;
      margin-bottom: 16px;
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #333333;
      margin-bottom: 16px;
    }
    .info {
      display: none;
      padding-top: 10px;
      padding-bottom: 20px; 
      overflow: hidden;
    }
    .acc_btn {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #1E6BD0;
      border: none;
      background-color: transparent;
      text-decoration: underline;
    }
  }
}