a(href="#").spec-blog-item
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a ex non magna.
  .blog-item
    img(src="../../media/icon/position.svg", alt="image")
    .name Аббазов Ренас Ринатович