a(href="#").main-spec-item 
  img.spec-icon(src="../../media/icon/position.svg", alt="image")
  .spec-info  
    h4 Поликлиническая служба
    p.name Абашина Лариса Викторовна
    p.position Старшая медицинская сестра
