extends ../layout/main

block variables
  - const pageTitle = 'РКБ'

block content
  .for_specialist-page
    .container
      .row
        .col-3
          include ../modules/forSpecialist/aside-spec 
        .col-9
          h1.big-title Специалистам
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam interdum sem in metus semper scelerisque. Proin ante tortor, mollis vitae orci nec, faucibus ultrices lacus. Integer quis dui leo. Vestibulum pulvinar sed nunc sed venenatis. Curabitur et magna non est convallis imperdiet. Aenean vel lacinia velit.
          h3#about.small-title О клинике
          include ../modules/bigSlider
          p Ежегодно стационарную помощь получают более 45 тыс. пациентов, проводится свыше 30 тыс. операций, более 4 тысяч  высокотехнологичных оперативных вмешательств и исследований. В консультативной поликлинике выполняются более 250 тысяч посещений. Специалистами больницы осуществляется около 800 выездов и вылетов по линии санитарной авиации в лечебные учреждения республики для оказания экстренной и консультативной медицинской помощи.
          p Государственное автономное учреждение здравоохранения «Республиканская клиническая больница Министерства здравоохранения Республики Татарстан  входит во Всероссийский регистр «Сто лучших медицинских учреждений России». За большой вклад в совершенствование охраны здоровья населения Республиканская клиническая больница награждена Почетной Грамотой Президента Республики Татарстан. 
          .line
          h3#activity.small-title Научная деятельность
          .desc
            p В рамках научно-исследовательского отдела активно функционируют 14 научных групп. По каждой теме имеется пятилетний план исследований, утвержденный Ученым советом. В конце каждого года составляются подробные планы исследований на следующий год с учетом полученных результатов. Руководители тем ежеквартально, а также в конце года представляют итоги проделанной работы.
            p Сотрудниками больницы в 2015 году опубликовано 2 монографии, а за последние 5 лет – 12.
            p Выросло количество публикаций в международных изданиях, в том числе входящих в базу Scopus. За 2015 год таких публикаций было 11, за последние 5 лет – 37.
            img(src="../media/image/forspec.jpg", alt="image")
            p На территории больницы в 2015 году были подготовлены и проведены 12 республиканских  научно-практических   конференций,   8 российских конференций с международным участием, 4 межрегиональных конференций,  8 семинар-совещаний, 17 мастер-классов, организаторами и участниками которых были как сотрудники РКБ, так и сотрудники КГМУ и КГМА.
            p Отдельная сфера научно-исследовательской деятельности — изобретательство, по степени развития которого оценивается интеллектуальный потенциал научного учреждения. Сотрудниками больницы за 2015 год получено 17 патентов на изобретения (за 5 лет получено 74 патентов на изобретения) и 18 положительных решений  по заявкам на изобретения, подано 18 заявок на изобретения.
            p Сотрудниками РКБ за последние 5 лет защищено 3 диссертации на соискание ученой степени доктора медицинских наук и 13 – кандидата медицинских наук. В 2015 году успешно защищены 1 докторская и 2 кандидатские диссертации. Подготовлены к защите 1 докторская и 3 кандидатские диссертации.
            p Были продолжены исследования в рамках научно-исследовательского гранта «Математическое моделирование ротационной остеотомии бедренной кости при лечении остеохондропатии головки бедренной кости». В состав коллектива вошли сотрудники научной группы, работающей на базе детского травматолого-орто¬педического отделения, и ФГАОУ ВПО «Казанский (Приволжский) федеральный университет». В 2015 году начаты исследования в рамках научно-исследовательского гранта Российского фонда фундаментальных исследований «Исследование фундаментальных механизмом взаимодействия трансплантированных мезенхимальных стволовых клеток из различных источников с клетками микроокружения нервной системы в норме и патологии». Коллектив исследователей объединил сотрудников ГАУЗ «РКБ МЗ РТ», ФГАОУ ВПО «Казанский (Приволжский) федеральный университет» и ГБОУ ВПО «Казанский государственный медицинский университет». Закончены исследования в рамках научно-исследовательского гранта Российского фонда фундаментальных исследований «Тканеинженерные, генные и клеточные технологии стимулирования регенерации периферичес¬кого нерва». В состав коллектива вошли сотрудники ГАУЗ «РКБ МЗ РТ», ФГАОУ ВПО «Казанский (Приволжский) федеральный университет» и ГБОУ ВПО «Казанский государственный медицинский университет».
          include ../modules/forSpecialist/benefits
          include ../modules/forSpecialist/diplom-slider
          .main-spec
            h3.small-title#spec Главные специалисты
            .main-spec-wrap
              include ../modules/forSpecialist/mainSpec
              include ../modules/forSpecialist/mainSpec
              include ../modules/forSpecialist/mainSpec
              include ../modules/forSpecialist/mainSpec
              include ../modules/forSpecialist/mainSpec
              include ../modules/forSpecialist/mainSpec
              include ../modules/forSpecialist/mainSpec
              include ../modules/forSpecialist/mainSpec
              include ../modules/forSpecialist/mainSpec
              include ../modules/forSpecialist/mainSpec
              include ../modules/forSpecialist/mainSpec
              include ../modules/forSpecialist/mainSpec
          .spec-blog#blog
             h3.small-title Научные публикации специалистов
             .spec-blog-wrap
              include ../modules/forSpecialist/blog
              include ../modules/forSpecialist/blog
              include ../modules/forSpecialist/blog
              include ../modules/forSpecialist/blog
              include ../modules/forSpecialist/blog
              include ../modules/forSpecialist/blog
              include ../modules/forSpecialist/blog
              include ../modules/forSpecialist/blog
              include ../modules/forSpecialist/blog
              include ../modules/forSpecialist/blog
              include ../modules/forSpecialist/blog
              include ../modules/forSpecialist/blog
              


