extends ../layout/main

block variables
  - const pageTitle = 'РКБ'

block content
  .container
    .row
      .col-4
        h1 col 4 1
      .col-4
        h1 col 4 2
      .col-4
        h1 col 4 3