extends ../layout/main

block variables
  - const pageTitle = 'РКБ'

block content
  include ../modules/specialists/slider
  include ../modules/specialists/specOfWeek
  include ../modules/specialists/newsTab
  include ../modules/whideForm
  include ../modules/specialists/thanksSlider