extends ../layout/main

block variables
  - const pageTitle = 'РКБ'

block content
  .servis-page
    .container
      .row
        include ../modules/servis/servis_block
        include ../modules/servis/servis_block
        include ../modules/servis/servis_block
        include ../modules/servis/servis_block
        include ../modules/servis/servis_block
        include ../modules/servis/servis_block
        include ../modules/servis/servis_block
        include ../modules/servis/servis_block
        include ../modules/servis/servis_block