extends ../layout/main

block variables
  - const pageTitle = 'РКБ'

block content
  .single-servis
    .container
      .row
        .col-12
          a(href="/").btn_back Вернуться к списку служб
      .row
        .col-12
          h1.big-title Клинико-экспертная служба
      .row
        .col-8
          h2.small-title Услуги
          include ../modules/servis/servis-btn-block
          h2.small-title Отделения
          include ../modules/servis/servis-acc
          .line
          .desc-serv
            h2.small-title Описание
            p Служба клинико-экспертной работы организована с целью обеспечения контроля качества медицинской помощи, оказываемой населению на базе ГАУЗ «РКБ МЗ РТ»  и включает в себя экспертизу процесса оказания медицинской помощи конкретному пациенту, выявление и изучение дефектах лечебно-диагностического процесса, а также разработку мероприятий для  улучшения качества медицинской помощи на основании анализа выявленных дефектов.
            p Контроль качества медицинской помощи в ГАУЗ «РКБ МЗ РТ»  осуществляется на основе стандартов медицинской помощи и протоколов ведения больных по нозологиям и профилям путем ежемесячного анализа первичной медицинской документации (в стационаре – не менее 10% законченных случаев лечения). Отделение разрабатывает внутрибольничную систему управления качеством лечебно-диагностического процесса и, с привлечением необходимых специалистов, организует ее внедрение в структурных подразделениях больницы.
        .col-4
          include ../modules/servis/servis-contact
          

      .row
        .col-12
          include ../modules/bigSlider
    include ../modules/form             

