extends ../layout/main

block variables
  - const pageTitle = 'РКБ'
  - const bigFormTitle = 'Найдите нужного врача'
  - const bigFormFon = './media/image/big-form1.jpg'
  - const bigFormPlaceholder = 'Введите ФИО врача, должность или службу'

block content
  include ../modules/big-form
  include ../modules/searchSpecialist/letters
  .container
    .row
      .col-3
        include ../modules/searchSpecialist/sidebar
      .col-9
        include ../modules/searchSpecialist/list