extends ../layout/main

block variables
  - const pageTitle = 'РКБ'
  - const bigFormTitle = 'Найдите нужного врача'
  - const bigFormFon = './media/image/big-form1.jpg'
  - const bigFormPlaceholder = 'Введите ФИО врача, должность или службу'

block content
  include ../modules/big-form
