.big-form(style='background-image: url(' + bigFormFon + ')')
  .big-form__title !{bigFormTitle}
  form.big-form__form
    input(type='submit' value='')
    input(type='text' placeholder='' + bigFormPlaceholder + '')