.pacient-servis
  h2#servis Службы
  .pacient-servis-wrap
    .pacient-serv-item
      img(src="../../media/icon/department.svg", alt="icon")
      h3 Клинико-экспертная служба
      a(href="tel:(843) 231-20-01") (843) 231-20-01
    .pacient-serv-item
      img(src="../../media/icon/department.svg", alt="icon")
      h3 Хирургическая служба
      a(href="tel:(843) 231-20-01") (843) 231-20-01
    .pacient-serv-item
      img(src="../../media/icon/department.svg", alt="icon")
      h3 Терапевтическая служба
      a(href="tel:(843) 231-20-01") (843) 231-20-01
    .pacient-serv-item
      img(src="../../media/icon/department.svg", alt="icon")
      h3 Клинико-экспертная служба
      a(href="tel:(843) 231-20-01") (843) 231-20-01
    .pacient-serv-item
      img(src="../../media/icon/department.svg", alt="icon")
      h3 Хирургическая служба
      a(href="tel:(843) 231-20-01") (843) 231-20-01
    .pacient-serv-item
      img(src="../../media/icon/department.svg", alt="icon")
      h3 Терапевтическая служба
      a(href="tel:(843) 231-20-01") (843) 231-20-01
    .pacient-serv-item
      img(src="../../media/icon/department.svg", alt="icon")
      h3 Клинико-экспертная служба
      a(href="tel:(843) 231-20-01") (843) 231-20-01
    .pacient-serv-item
      img(src="../../media/icon/department.svg", alt="icon")
      h3 Хирургическая служба
      a(href="tel:(843) 231-20-01") (843) 231-20-01
    .pacient-serv-item
      img(src="../../media/icon/department.svg", alt="icon")
      h3 Терапевтическая служба
      a(href="tel:(843) 231-20-01") (843) 231-20-01          