.pacient-contact
  h2#contact.small-title Контакты
  .contacts-container
    .contacts-wrap
      .contact-item
        h4 Приемного отделение
        a(href="tel:(843) 231-20-01") (843) 231-20-01
      .contact-item
        h4 Приемного отделение
        a(href="tel:(843) 231-20-01") (843) 231-20-01
      .contact-item
        h4 Приемного отделение
        a(href="tel:(843) 231-20-01") (843) 231-20-01 
      .contact-item
        h4 Приемного отделение
        a(href="tel:(843) 231-20-01") (843) 231-20-01
    .contacts-wrap.contacts-wrap2
     .contact-item
        h4 Тел. консультативной поликлиники:
        a(href="tel:(843) 231-20-01") (843) 231-20-01
        a(href="tel:(843) 231-20-01") (843) 231-20-01
        a(href="tel:(843) 231-20-01") (843) 231-20-01
