.pacient-slider#other
  .pacient__title.small-title Cтраховые компании
  .pacient-slider__body.owl-carousel.owl-theme
    .item
      img(src="../../media/image/company.jpg", alt="image")
    .item
      img(src="../../media/image/company.jpg", alt="image")
    .item
      img(src="../../media/image/company.jpg", alt="image")
    .item
      img(src="../../media/image/company2.jpg", alt="image") 
    .item
      img(src="../../media/image/company.jpg", alt="image")
    .item
      img(src="../../media/image/company.jpg", alt="image") 
  .opacity-block
  .opacity-block2        
