@media screen and (max-width: 1340px) {
  .contacts__map {
    height: 100%;
  }
}
@media screen and (max-width: 1199px) {
  #tabs {
    .tab-title {
      .tab {
        padding: 0 8px 20px;
        font-size: 13px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .contacts__desc {
    margin-bottom: 40px;
  }
  .contacts__map {
    margin-bottom: 40px;
    height: 625px; 
  }
  #tabs {
    display: none;
  }
  .col-path {
    display: block;
  }
}

@media screen and (max-width: 575px) {
  .contacts {
    padding: 24px 0 0px;
    .contacts__title {
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 16px;
    }
    .contacts__desc {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 24px;
    }
  }
  .contacts__map {
    margin-bottom: 24px;
    height: 288px;
  }
  .contacts__info {
    .double {
      flex-direction: column;
      margin-bottom: 20px;
      .item {
        margin-bottom: 20px;
        max-width: 100%;
        .info__title {
          font-size: 16px;
    line-height: 22px;
        }
      }
    }
  }
  .col-form {
    padding: 0;
    .form {
      border-radius: 0px;
      background: #2A75D8;
      padding: 32px 16px;
      .form__title {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        color: #FFFFFF;
        margin-bottom: 20px;
      }
      .contact-form-block {
        .double {
          flex-direction: column; 
        }
        .message-wrap {
          height: 112px;
          .message {
            height: 112px;
          }
        }
        .submit {
          background-color: #fff;
          color: #1E6BD0;
          padding: 13px 0;
        }
      }
    }
  }
  // .contacts__form {
  //   border-radius: 0;
  //   .form__title {
  //     text-align: left;
  //     font-size: 20px;
  //   line-height: 26px;
  //   margin-bottom: 32px;
  //   }
  //   .form__double {
  //     flex-direction: column;

  //     & label:first-child {
  //       margin-bottom: 15px;
  //       margin-right: 0;
  //     }
  //     & label:last-child {
  //       margin-left: 0;
  //     }
  //   }
  //   .submit-wrapper {
  //     input {
  //       width: 100%;
  //     }
  //   }
  // }
}
