.spec-slider
  .container
    .row
      .col-12
        .spec-slider__body
          .slider__nav
            .slider-btn.prev
            .count #[span.current 4]&nbsp;/&nbsp;#[span.all 4]
            .slider-btn.next
          .slider.owl-carousel.owl-theme(data-count='1')
            .item(style='background-image: url(./media/image/slider.jpg')
              .title 1Как стать донором крови и ее  компонентов в период самоизоляции?
              .desc Современные технологии в области медицины дают надежду  многим больным, у которых при имеющемся диагнозе, раньше,  просто не было шанса на жизнь.
            .item(style='background-image: url(./media/image/slider.jpg')
              .title 2Как стать донором крови и ее  компонентов в период самоизоляции?
              .desc Современные технологии в области медицины дают надежду  многим больным, у которых при имеющемся диагнозе, раньше,  просто не было шанса на жизнь.
            .item(style='background-image: url(./media/image/slider.jpg')
              .title 3Как стать донором крови и ее  компонентов в период самоизоляции?
              .desc Современные технологии в области медицины дают надежду  многим больным, у которых при имеющемся диагнозе, раньше,  просто не было шанса на жизнь.
          .links
            a.link(href='#' style='background-image: url(./media/image/link1.jpg)') Найти специалиста #[span.icon]
            a.link(href='#' style='background-image: url(./media/image/link2.jpg)') Службы и отделения #[span.icon]
            a.link(href='#' style='background-image: url(./media/image/link3.jpg)') Карта РКБ #[span.icon]