@media screen and (max-width: 1199px) {
  .search-doctor-sidebar .sidebar__options .options__list .option .name {
    font-size: 13px;
  }
}

@media screen and (max-width: 992px) {
  .search-doctor-sidebar {
    .sidebar__options {
      display: none;
    }

    .doctor-of-week {
      background-repeat: no-repeat;
      max-width: 309px;
      margin: 0 auto;
      margin-bottom: 24px;
    }
  }

  .search-doctor-list {
    .list__latter {
      display: none;
    }
  }
  
  .mobile-more {
    display: flex;
    align-items: center;
    margin: 0px auto;
    width: -webkit-max-content; 
    width: -moz-max-content;
    width: max-content;
    cursor: pointer;
    
    border-radius: 10px;
    padding: 16px 24px 16px 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #2560a9;
    position: relative;
    img {
      width: 24px;
      height: 24px;
      object-fit: cover;
      object-position: center;
      margin-left: 8px;
      transform: rotate(0deg);
      transition: .3s;
    }

    & img.active {
      transform: rotate(180deg);
    }
  }
  .mobile-sidebar {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .letters__body {
    overflow: scroll;
    .letter {
      padding: 0 12px;
    }
    &::-webkit-scrollbar { 
      display: none;
    }
  }
  
}
@media screen and (max-width: 575px) {
  .search-doctor-list {
    padding-left: 0;

    .list__body {
      .item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;

        .avatar {
          margin-right: 0;
          margin-bottom: 16px;
        }

        .info {
          text-align: center;

          .build {
            font-size: 12px;
            line-height: 18px;
          }

          .name {
            font-size: 16px;
            line-height: 22px;
          }

          .post {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
      .more {
        display: flex;
        justify-content: center;
        width: 100%;

        &:after {
          right: 20%;
        }
      }
    }
  }
  .big-form__title {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 24px;
    text-align: left;
    max-width: 226px;
  }
  

  // mobile sidebar
  .mobile-sidebar {
  
    .mobile-options {
      .options__list {
        padding: 8px 0px;
        .option {
          justify-content: center;
          padding: 15px 27px;
          .check {
           display: none;
          }
          .name {
            font-weight: 600; 
            font-size: 16px;
            line-height: 22px;
            text-align: center; 
          }
        }
        & .option:hover {
          background-color: rgba(30, 107, 208, 0.1);
          color: #2560A9;
        }
        & .option:hover .name {
          color: #2560A9;
        }
      }
    }
  }
  .more__btn--row {
    border-bottom: 1px solid #ededed;
  }
}