.col-12
  h2.small-title.blog_title Публикации
.col-3
  .blog_item
    a(href="#")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      .date 10.10.2019 
.col-3
  .blog_item
    a(href="#")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      .date 10.10.2019 
.col-3
  .blog_item
    a(href="#")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      .date 10.10.2019 
.col-3
  .blog_item
    a(href="#")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      .date 10.10.2019
.col-3
  .blog_item
    a(href="#")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      .date 10.10.2019 
.col-3
  .blog_item
    a(href="#")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      .date 10.10.2019 
.col-3
  .blog_item
    a(href="#")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      .date 10.10.2019                       
