.servis-acc {
  border: 1px solid #EDEDED;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 40px;
 
  

  ul {
    .dropdown {
      position: relative;
      list-style: none;
    
      border-bottom: 1px solid #EDEDED;

      button {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #333333;
        justify-content: space-between;
        width: 100%;
        border: none;
        background-color: transparent;
        .arrow {
          transition: .4s;
          margin-right: 16px;
        }

      }

      [data-toggle="dropdown"] {
        display: flex;
        padding: 16px 0 16px 17px;

        // &:before {
        //   position: absolute;
        //   display: block;
        //   content: '';
        //   background-image: url(../../../media/icon/specialist/arrow-right.svg);
        //   background-position: center;
        //   background-repeat: no-repeat;
        //   width: 24px;
        //   height: 24px;
        //   color: #000;
        //   // top: 13px;
        //   right: 16px;
        //   transform: rotate(0deg);
        //   transition: transform .5s;
        //   padding: 6px 0;
        // }
      }

      &>.dropdown-menu {
        max-height: 0;
        overflow: hidden;

        transition: .4s;


        li {
          padding: 0;
          $radioSize: 24px;
          $inputBorder: #D0D7DD;
          $inputActive: #1F1F22;

          .acc-item {
            display: flex;
            position: relative;
            flex-direction: column;
            padding: 0 17px;
            margin: 20px 0;

            p {
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 24px;
              color: #333333; 
              margin-bottom: 5px;
            }
          }
        }
      }

      &>input[type="checkbox"] {
        opacity: 0;
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        color: #565B62;

        // &:checked~.dropdown-menu {
        //   max-height: 1500px;
        //   display: block;
        //   transition: 2s;
        // }

        // &:checked+a[data-toggle="dropdown"] {
        //   &:before {
        //     transform: rotate(90deg);
        //     transition: transform .5s;
        //   }
        // }
      }
    }
    .dropdown-menu.active {
      max-height: 1500px;
      display: block;
      transition: 2s;
      }
      .arrow.active {
        transform: rotate(90deg);
      }
  }
  & .dropdown:last-child{
    border-bottom: none;
  }
}
.line {
  border-bottom: 1px solid #EDEDED;
  margin-bottom: 40px;
}