.big-slider
  .big-slider__btn.next
  .big-slider__btn.prev.disabled
  .item
    img(alt='img' src='/media/image/big1.jpg')
  .item
    img(alt='img' src='/media/image/big2.jpg')
  .item
    img(alt='img' src='/media/image/big3.jpg')
  .item
    img(alt='img' src='/media/image/big1.jpg')
  .item
    img(alt='img' src='/media/image/big2.jpg')