.form
  .container
    .row
      .col-12
        .form__title Остались вопросы?#[br]Свяжитесь с нами
    .row
      .col-12
        .contact-form-block
          form#contact-form
            .input-wrapper.input-wrapper--name
              input(type="text")
            .input-wrapper.input-wrapper--tel
              input(type="text")
            .input-wrapper.input-wrapper--comment.message-wrap
              textarea(type="text").message
            button(type="submit").submit Отправить

            
     
