.contacts__info
  .double
    .item
      .info__title Приемная главного врача
      a.info__contact(href='tel:88432316595') 8 (843) 231-65-95
      a.info__contact(href='mailto:mz.rkb@tatar.ru') mz.rkb@tatar.ru
    .item
      .info__title Приемное отделение
      a.info__contact(href='tel:88432316595') 8 (843) 231-65-95
      a.info__contact(href='mailto:mz.rkb@tatar.ru') mz.rkb@tatar.ru
  .info__title Адрес местонахождения юридического лица
  .info__contact 420064, Республика Татарстан, г. Казань, #[br] Оренбургский тракт, 138.
  .contacts__path
    .info__title Как добраться?
    .item
      .title Вахитовский район
      .path На автобусе №3 до станции “Альберт”
    .item
      .title Ново-Савиновский район
      .path На автобусе №3 до станции “Альберт”
    .item
      .title Вахитовский район
      .path На автобусе №3 до станции “Альберт”
    .item
      .title Московский район
      .path На автобусе №3 до станции “Альберт”
    .item
      .title Авиастроительный район
      .path На автобусе №3 до станции “Альберт”
    .item
      .title Приволжский район
      .path На автобусе №3 до станции “Альберт”
    .item
      .title Советский район
      .path На автобусе №3 до станции “Альберт”