
.aside.anhors
  h2 Посетителям
  ul
    li.active
      a(href="#contact") Контакты
    li
      a(href="#servis") Службы
    li
      a(href="#help") Виды оказания помощи
    li
      a(href="#document") Документы
    li
      a(href="#other") Сихат РКБ        