.document-container#document
  h3.small-title Важные документы
  .document-wrap
    .document-item
      .document-icon
        a(href="#")
          img(src="../../media/icon/download.svg", alt="image")
      .document-info  
        h4 Lorem ipsum dolor sit
        p.size .pdf / 2mb
    .document-item
      .document-icon
        a(href="#")
          img(src="../../media/icon/download.svg", alt="image")
      .document-info  
        h4 Lorem ipsum dolor sit
        p.size .pdf / 2mb
    .document-item(style="margin-right: 0;")
      .document-icon
        a(href="#")
          img(src="../../media/icon/download.svg", alt="image")
      .document-info  
        h4 Lorem ipsum dolor sit
        p.size .pdf / 2mb
    .document-item
      .document-icon
        a(href="#")
          img(src="../../media/icon/download.svg", alt="image")
      .document-info  
        h4 Lorem ipsum dolor sit
        p.size .pdf / 2mb
    .document-item
      .document-icon
        a(href="#")
          img(src="../../media/icon/download.svg", alt="image")
      .document-info  
        h4 Lorem ipsum dolor sit
        p.size .pdf / 2mb
                 