.document-container#document
  h3.small-title Важные документы
  .document-wrap
    a(href="../../media/image/specialist.png" download).document-item
      .document-icon
        img(src="../../media/icon/download.svg", alt="image")
      .document-info  
        h4 Lorem ipsum dolor sit
        p.size .pdf / 2mb
    a(href="../../media/image/specialist.png" download).document-item
      .document-icon
        img(src="../../media/icon/download.svg", alt="image")
      .document-info  
        h4 Lorem ipsum dolor sit
        p.size .pdf / 2mb
    a(href="../../media/image/specialist.png" download).document-item(style="margin-right: 0;")
      .document-icon
        img(src="../../media/icon/download.svg", alt="image")
      .document-info  
        h4 Lorem ipsum dolor sit
        p.size .pdf / 2mb
    a(href="../../media/image/specialist.png" download).document-item
      .document-icon
        img(src="../../media/icon/download.svg", alt="image")
      .document-info  
        h4 Lorem ipsum dolor sit
        p.size .pdf / 2mb
    a(href="../../media/image/specialist.png" download).document-item
      .document-icon
        img(src="../../media/icon/download.svg", alt="image")
      .document-info  
        h4 Lorem ipsum dolor sit
        p.size .pdf / 2mb
                 