.servis-acc
  ul
    li.dropdown.servisDrop
      input(type="checkbox")
      button(data-toggle="dropdown") Lorem ipsum dolor sit amet, consectetur adipiscing elit
        img.arrow(src="../../media/icon/specialist/arrow-right.svg", alt="icon" )
      ul.dropdown-menu
        li
          .acc-item
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptatibus blanditiis perspiciatis velit dolorum! Mollitia ipsum, deserunt rerum expedita nobis veritatis fuga nostrum dicta, reprehenderit magnam dolorem ad sapiente ab.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam unde placeat accusamus sit tenetur autem, esse enim cupiditate suscipit ut quos et. Illum atque dolore at sint voluptas necessitatibus nemo.Nesciunt quos amet delectus quia quo unde optio molestiae nulla nemo eos, neque cum ullam exercitationem ipsa provident saepe, ad at fugiat quas eum blanditiis aliquam! Illum perferendis maiores natus!
    li.dropdown.servisDrop
      input(type="checkbox")
      button(data-toggle="dropdown") Lorem ipsum dolor sit amet, consectetur adipiscing elit
        img.arrow(src="../../media/icon/specialist/arrow-right.svg", alt="icon" )
      ul.dropdown-menu
        li
          .acc-item
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptatibus blanditiis perspiciatis velit dolorum! Mollitia ipsum, deserunt rerum expedita nobis veritatis fuga nostrum dicta, reprehenderit magnam dolorem ad sapiente ab.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam unde placeat accusamus sit tenetur autem, esse enim cupiditate suscipit ut quos et. Illum atque dolore at sint voluptas necessitatibus nemo.Nesciunt quos amet delectus quia quo unde optio molestiae nulla nemo eos, neque cum ullam exercitationem ipsa provident saepe, ad at fugiat quas eum blanditiis aliquam! Illum perferendis maiores natus!
    li.dropdown.servisDrop
      input(type="checkbox")
      button(data-toggle="dropdown") Lorem ipsum dolor sit amet, consectetur adipiscing elit
        img.arrow(src="../../media/icon/specialist/arrow-right.svg", alt="icon" )
      ul.dropdown-menu
        li
          .acc-item
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptatibus blanditiis perspiciatis velit dolorum! Mollitia ipsum, deserunt rerum expedita nobis veritatis fuga nostrum dicta, reprehenderit magnam dolorem ad sapiente ab.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam unde placeat accusamus sit tenetur autem, esse enim cupiditate suscipit ut quos et. Illum atque dolore at sint voluptas necessitatibus nemo.Nesciunt quos amet delectus quia quo unde optio molestiae nulla nemo eos, neque cum ullam exercitationem ipsa provident saepe, ad at fugiat quas eum blanditiis aliquam! Illum perferendis maiores natus!
    li.dropdown.servisDrop
      input(type="checkbox")
      button(data-toggle="dropdown") Lorem ipsum dolor sit amet, consectetur adipiscing elit
        img.arrow(src="../../media/icon/specialist/arrow-right.svg", alt="icon" )
      ul.dropdown-menu
        li
          .acc-item
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptatibus blanditiis perspiciatis velit dolorum! Mollitia ipsum, deserunt rerum expedita nobis veritatis fuga nostrum dicta, reprehenderit magnam dolorem ad sapiente ab.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam unde placeat accusamus sit tenetur autem, esse enim cupiditate suscipit ut quos et. Illum atque dolore at sint voluptas necessitatibus nemo.Nesciunt quos amet delectus quia quo unde optio molestiae nulla nemo eos, neque cum ullam exercitationem ipsa provident saepe, ad at fugiat quas eum blanditiis aliquam! Illum perferendis maiores natus!
    li.dropdown.servisDrop
      input(type="checkbox")
      button(data-toggle="dropdown") Lorem ipsum dolor sit amet, consectetur adipiscing elit
        img.arrow(src="../../media/icon/specialist/arrow-right.svg", alt="icon" )
      ul.dropdown-menu
        li
          .acc-item
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptatibus blanditiis perspiciatis velit dolorum! Mollitia ipsum, deserunt rerum expedita nobis veritatis fuga nostrum dicta, reprehenderit magnam dolorem ad sapiente ab.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam unde placeat accusamus sit tenetur autem, esse enim cupiditate suscipit ut quos et. Illum atque dolore at sint voluptas necessitatibus nemo.Nesciunt quos amet delectus quia quo unde optio molestiae nulla nemo eos, neque cum ullam exercitationem ipsa provident saepe, ad at fugiat quas eum blanditiis aliquam! Illum perferendis maiores natus!        
