
.servis-page {
  padding: 80px 0;
}
.accordion {
  // margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  .accordion_item {
    display: flex;
    flex-direction: column;
    flex: 32%;
    margin-bottom: 100px;
    img {
      width: 28px;
      height: 40px;
      object-fit: contain;
      object-position: center;
      margin-bottom: 24px;
    }
    .accordion__title {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      color: #111111;
      margin-bottom: 16px;
    }
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #333333;
      margin-bottom: 16px;
    }
    .info {
      display: none;
      padding-top: 10px;
      padding-bottom: 20px; 
      overflow: hidden;
    }
    .acc_btn {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #1E6BD0;
      border: none;
      background-color: transparent;
      text-align: left;
    }
    & .info.active {
      display: block;
    }
  }
}