footer.footer

  .container
    .row
      .col-12
        .footer__body
          .footer__left
            a.footer__logo
                img(src='./media/icon/logo-white.svg' alt='rkb')
                .text
                  .title Республиканская #[br] Клиническая Больница
                  .small Министерства здравоохранения #[br] Республики Татарстан

            .footer__btns
              a.footer__btn(href='#') Сихат РКБ
              a.footer__btn.footer__btn--transparent(href='#') Оставить отзыв
          .footer__nav-wrapper
            nav.footer__nav
              .title Документация
              ul
                li
                  a(href='#') Политика обработки #[br] персональных данных
                li
                  a(href='#') Документация для #[br] сотрудников
                li
                  a(href='#') Для партнеров и контрагентов
                li
                  a(href='#') Для пациентов

            nav.footer__nav
              .title Контакты
              ul
                li
                  a(href='#') Карта корпусов
                li
                  a(href='#') Контакты служб
                li
                  a(href='#') Для партнеров и контрагентов
                li
                  a(href='#') Телефонный справочник #[br] РКБ МЗ РТ

            nav.footer__nav
              .title О клинике
              ul
                li
                  a(href='#') Защита персональных данных
                li
                  a(href='#') Шефы клиник ГАУЗ "РКБ МЗ РТ"
                li
                  a(href='#') Охрана труда
                li
                  a(href='#') Информация об учреждении