.whide-form
  .container
    .row
      .col-12
        .whide-form__body
          .text Найти специалиста
          form
            input(type='text' placeholder='Введите ФИО врача или должность')
            input(type='submit' value='Найти')