.news-tab
  .container
    .row
      .col-12
        .news-tab__top
          .news-tab__title Новости
          .news-tab__head
            .tabs
              .tab.active(id='tab-all') Все
              .tab(id='tab-rkb') Новости РКБ
              .tab(id='tab-rt') Минздрав РТ
              .tab(id='tab-rf') Минздрав РФ
            a.all-news(href='#') Все новости
        .news-tab__body.show(id='body-all')
          a.main(href='#' style='background-image: url(./media/image/news/1.jpg)')
            .top
              .category Новости РКБ
              .date 31.03.2020
            .main__title Детские травматологи РКБ с 1 апреля #[br] начнут принимать детей и подростков #[br] с травмами на базе ДРКБ
            .main__desc Такое решение принято в связи с поручением Министра здравоохранения РТ Марата Садыкова, организовать…
            img.main__arrow(src='./media/icon/big-arrow.svg' alt='arrow')
          .other-news
            a.item(href='#')
              img(alt='news' src='./media/image/news/2.jpg')
              .info
                .info__top
                  .category Минздрав РТ
                  .date 1.04.2020
                .info__desc Врачи РКБ освоили редкую для России операцию для пациентов с механичес-кой желтухой
            a.item(href='#')
              img(alt='news' src='./media/image/news/3.jpg')
              .info
                .info__top
                  .category Минздрав РТ
                  .date 1.04.2020
                .info__desc Детские травматологи РКБ с 1 апреля начнут принимать детей и подростков с травмами на базе ДРКБ
            a.item(href='#')
              img(alt='news' src='./media/image/news/2.jpg')
              .info
                .info__top
                  .category Минздрав РТ
                  .date 1.04.2020
                .info__desc Врачи РКБ освоили редкую для России операцию для пациентов с механичес-кой желтухой


        .news-tab__body(id='body-rkb')
          a.main(href='#' style='background-image: url(./media/image/news/1.jpg)')
            .top
              .category Новости РКБ
              .date 31.03.2020
            .main__title Детские травматологи РКБ с 1 апреля #[br] начнут принимать детей и подростков #[br] с травмами на базе ДРКБ
            .main__desc Такое решение принято в связи с поручением Министра здравоохранения РТ Марата Садыкова, организовать…
            img.main__arrow(src='./media/icon/big-arrow.svg' alt='arrow')
          .other-news
            a.item(href='#')
              img(alt='news' src='./media/image/news/2.jpg')
              .info
                .info__top
                  .category Новости РКБ
                  .date 1.04.2020
                .info__desc Врачи РКБ освоили редкую для России операцию для пациентов с механичес-кой желтухой
            a.item(href='#')
              img(alt='news' src='./media/image/news/3.jpg')
              .info
                .info__top
                  .category Новости РКБ
                  .date 1.04.2020
                .info__desc Детские травматологи РКБ с 1 апреля начнут принимать детей и подростков с травмами на базе ДРКБ
            a.item(href='#')
              img(alt='news' src='./media/image/news/2.jpg')
              .info
                .info__top
                  .category Новости РКБ
                  .date 1.04.2020
                .info__desc Врачи РКБ освоили редкую для России операцию для пациентов с механичес-кой желтухой

        .news-tab__body(id='body-rt')
          a.main(href='#' style='background-image: url(./media/image/news/2.jpg)')
            .top
              .category Минздрав РТ
              .date 31.03.2020
            .main__title Детские травматологи РКБ с 1 апреля #[br] начнут принимать детей и подростков #[br] с травмами на базе ДРКБ
            .main__desc Такое решение принято в связи с поручением Министра здравоохранения РТ Марата Садыкова, организовать…
            img.main__arrow(src='./media/icon/big-arrow.svg' alt='arrow')
          .other-news
            a.item(href='#')
              img(alt='news' src='./media/image/news/2.jpg')
              .info
                .info__top
                  .category Минздрав РТ
                  .date 1.04.2020
                .info__desc Врачи РКБ освоили редкую для России операцию для пациентов с механичес-кой желтухой
            a.item(href='#')
              img(alt='news' src='./media/image/news/3.jpg')
              .info
                .info__top
                  .category Минздрав РТ
                  .date 1.04.2020
                .info__desc Детские травматологи РКБ с 1 апреля начнут принимать детей и подростков с травмами на базе ДРКБ
            a.item(href='#')
              img(alt='news' src='./media/image/news/2.jpg')
              .info
                .info__top
                  .category Минздрав РТ
                  .date 1.04.2020
                .info__desc Врачи РКБ освоили редкую для России операцию для пациентов с механичес-кой желтухой

        .news-tab__body(id='body-rf')
          a.main(href='#' style='background-image: url(./media/image/news/1.jpg)')
            .top
              .category Минздрав РФ
              .date 31.03.2020
            .main__title Детские травматологи РКБ с 1 апреля #[br] начнут принимать детей и подростков #[br] с травмами на базе ДРКБ
            .main__desc Такое решение принято в связи с поручением Министра здравоохранения РТ Марата Садыкова, организовать…
            img.main__arrow(src='./media/icon/big-arrow.svg' alt='arrow')
          .other-news
            a.item(href='#')
              img(alt='news' src='./media/image/news/2.jpg')
              .info
                .info__top
                  .category Минздрав РФ
                  .date 1.04.2020
                .info__desc Врачи РКБ освоили редкую для России операцию для пациентов с механичес-кой желтухой
            a.item(href='#')
              img(alt='news' src='./media/image/news/3.jpg')
              .info
                .info__top
                  .category Минздрав РФ
                  .date 1.04.2020
                .info__desc Детские травматологи РКБ с 1 апреля начнут принимать детей и подростков с травмами на базе ДРКБ
            a.item(href='#')
              img(alt='news' src='./media/image/news/2.jpg')
              .info
                .info__top
                  .category Минздрав РФ
                  .date 1.04.2020
                .info__desc Врачи РКБ освоили редкую для России операцию для пациентов с механичес-кой желтухой
        
        a.news-btns(href='#') Читать все новости          