.container
  .row
    .col-12
      .thanks_block--body
        .item
          .name Алексей Фокин
          .medium
            .date 7.04.2020
            .rate
              .star.active
              .star.active
              .star.active
              .star.active
              .star
          .text Здравствуйте! Хочу выразить ОГРОМНУЮ БЛАГОДАРНОСТЬ и самые наилучшие пожелания коллективам торакальных отделений! Находясь на лечении с последующей операцией убедился в том что не всё у нас потеряно, столько внимания и понимания к своим пациентам д...
        .item
          .name Алексей Фокин
          .medium
            .date 7.04.2020
            .rate
              .star.active
              .star.active
              .star.active
              .star.active
              .star
          .text Здравствуйте! Хочу выразить ОГРОМНУЮ БЛАГОДАРНОСТЬ и самые наилучшие пожелания коллективам торакальных отделений! Находясь на лечении с последующей операцией убедился в том что не всё у нас потеряно, столько внимания и понимания к своим пациентам д...
        .item
          .name Алексей Фокин
          .medium
            .date 7.04.2020
            .rate
              .star.active
              .star.active
              .star.active
              .star.active
              .star
          .text Здравствуйте! Хочу выразить ОГРОМНУЮ БЛАГОДАРНОСТЬ и самые наилучшие пожелания коллективам торакальных отделений! Находясь на лечении с последующей операцией убедился в том что не всё у нас потеряно, столько внимания и понимания к своим пациентам д... 

        a.thanks-btn(href='#') Читать все отзывы       