
# BEGIN BackUpWordPress
# Директивы (строки) между `BEGIN BackUpWordPress` и `END BackUpWordPress`
# созданы автоматически и подлежат изменению только через фильтры WordPress.
# Сделанные вручную изменения между этими маркерами будут перезаписаны.
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=0219bd897dc0e3965c62c165fef60a62
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress