.footer {
  background: linear-gradient(346.42deg, #004C89 0%, #1E6BD0 100%);
  padding: 40px 0 60px;

  &__body {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      width: 89.97px;
      height: 66px;
      margin-right: 20px;
    }

    .text {
      .title {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        margin-bottom: 6px;
      }

      .small {
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
      }
    }
  }

  &__btns {
    margin-top: 40px;
    display: flex;

    .footer__btn {
      display: block;
      font-weight: 600;
      font-size: 16px;
      line-height: 48px;
      color: #FFFFFF;
      background: #1E6BD0;
      border-radius: 10px;
      padding: 0 32px;
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }

      &--transparent {
        background-color: transparent;
        font-size: 14px;
        border: 1px solid #FFFFFF;
      }
    }
  }

  &__nav-wrapper {
    display: flex;
    justify-content: flex-end;

    .footer__nav {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      .title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 16px;
      }

      ul {
        li {
          list-style: none;
          margin-bottom: 16px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}