
.aside.anhors
  h2 Специалистам
  ul
    li.active
      a(href="#about") О клинике
    li
      a(href="#activity") Научная деятельность
    li
      a(href="#benefits") Наши преимущества
    li
      a(href="#diplom") Награды и дипломы
    li
      a(href="#spec") Главные специалисты   
    li
      a(href="#blog") Научные публикации специалистов        