.pacient-servis.benefits#benefits
  h2#servis Наши преимущества
  .pacient-servis-wrap
    .pacient-serv-item
      img(src="../../media/icon/benefits.svg", alt="icon")
      h3 Круглосуточный режим работы
    .pacient-serv-item
      img(src="../../media/icon/benefits2.svg", alt="icon")
      h3 Наличие собственной фармакологической службы
    .pacient-serv-item(style="margin-right: 0")
      img(src="../../media/icon/benefits.svg", alt="icon")
      h3 Телемедицина
    .pacient-serv-item
      img(src="../../media/icon/benefits3.svg", alt="icon")
      h3 Стационар экспертного класса
    .pacient-serv-item
      img(src="../../media/icon/benefits.svg", alt="icon")
      h3 Ведущая многопрофильная клиника
    .pacient-serv-item(style="margin-right: 0")
      img(src="../../media/icon/benefits4.svg", alt="icon")
      h3 Оказание медицинской помощи в соответствии с современными требованиями
    .pacient-serv-item
      img(src="../../media/icon/benefits.svg", alt="icon")
      h3 Ведущая многопрофильная клиника
    .pacient-serv-item
      img(src="../../media/icon/benefits.svg", alt="icon")
      h3 Большой опыт в лечении сложных патологий
    .pacient-serv-item(style="margin-right: 0")
      img(src="../../media/icon/benefits.svg", alt="icon")
      h3 Большой опыт в лечении сложных патологий
    .pacient-serv-item
      img(src="../../media/icon/benefits.svg", alt="icon")
      h3 Большой опыт в лечении сложных патологий
    .pacient-serv-item
      img(src="../../media/icon/benefits.svg", alt="icon")
      h3 Безопасность пациентов            