.diplom-slider#diplom
  .diplom__title Награды и дипломы
  .diplom-slider__body.owl-carousel.owl-theme
    .item
      .diplom
        img(src="../../media/image/diplom.jpg", alt="image")
        .diplom-overlay
          img(src="../../media/icon/hover.svg", alt="image")
      .text Сертификат ИСО 9001:2008
    .item
      .diplom
        img(src="../../media/image/diplom.jpg", alt="image")
        .diplom-overlay
          img(src="../../media/icon/hover.svg", alt="image")
      .text Сертификат ИСО 9001:2008
    .item
      .diplom
        img(src="../../media/image/diplom.jpg", alt="image")
        .diplom-overlay
          img(src="../../media/icon/hover.svg", alt="image")
      .text Сертификат ИСО 9001:2008
    .item
      .diplom
        img(src="../../media/image/diplom.jpg", alt="image")
        .diplom-overlay
          img(src="../../media/icon/hover.svg", alt="image")
      .text Сертификат ИСО 9001:2008
    .item
      .diplom
        img(src="../../media/image/diplom.jpg", alt="image")
        .diplom-overlay
          img(src="../../media/icon/hover.svg", alt="image")
      .text Сертификат ИСО 9001:2008
    .item
      .diplom
        img(src="../../media/image/diplom.jpg", alt="image")
        .diplom-overlay
          img(src="../../media/icon/hover.svg", alt="image")
      .text Сертификат ИСО 9001:2008

//- modal diplom img
