.contact-wrap
  h3 Контакты
  .contact-item
    p Приемная
    p.contact (843) 231-21-13
  .contact-item
    p Заведующий
    p.contact (8800) 555-35-35
  .contact-item
    p Факс
    p.contact (8800) 555-35-35
  .contact-item
    p Email
    p.contact albert.gaifulin@gmail.com
  button Обратиться онлайн        