.feedback
  h2.small-title Отзывы
  .feedback-item
    h3 Герман Эчпочмак
    .rank
      .star-block
        button
          img(src="../../media/icon/specialist/star-color.svg", alt="icon")
        button
          img(src="../../media/icon/specialist/star-disable.svg", alt="icon")
        button
          img(src="../../media/icon/specialist/star-disable.svg", alt="icon")
        button
          img(src="../../media/icon/specialist/star-disable.svg", alt="icon")
        button
          img(src="../../media/icon/specialist/star-disable.svg", alt="icon")
      .date 10.10.2019
    p Врач ушел за час до окончания приема, принимать перестал за полтора, несмотря на очередь к его кабинету. В регистратуре вместо общения с посетителями протаскивают клиентов вне очереди (видимо, не за просто так).
  .feedback-item
    h3 Герман Эчпочмак
    .rank
      .star-block
        button
          img(src="../../media/icon/specialist/star-color.svg", alt="icon")
        button
          img(src="../../media/icon/specialist/star-disable.svg", alt="icon")
        button
          img(src="../../media/icon/specialist/star-disable.svg", alt="icon")
        button
          img(src="../../media/icon/specialist/star-disable.svg", alt="icon")
        button
          img(src="../../media/icon/specialist/star-disable.svg", alt="icon")
      .date 10.10.2019
    p Андрей Анатольевич, от души благодарствую вас и клинику, за радушный прием и оказанную мне медицинскую помощь. Чувствую себя сейчас превосходно. Спасибо Вам, что еще есть такие врачи！Рекомендую!
  .feedback-item
    h3 Алексей Кочерыжкин
    .rank
      .star-block
        button
          img(src="../../media/icon/specialist/star-color.svg", alt="icon")
        button
          img(src="../../media/icon/specialist/star-color.svg", alt="icon")
        button
          img(src="../../media/icon/specialist/star-disable.svg", alt="icon")
        button
          img(src="../../media/icon/specialist/star-disable.svg", alt="icon")
        button
          img(src="../../media/icon/specialist/star-disable.svg", alt="icon")
      .date 10.10.2019
    p Врач ушел за час до окончания приема, принимать перестал за полтора, несмотря на очередь к его кабинету. В регистратуре вместо общения с посетителями протаскивают клиентов вне очереди (видимо, не за просто так).    