.form_spec
  .rank
    .star-block
      button
        img(src="../../media/icon/specialist/star-color.svg", alt="icon")
      button
        img(src="../../media/icon/specialist/star-disable.svg", alt="icon")
      button
        img(src="../../media/icon/specialist/star-disable.svg", alt="icon")
      button
        img(src="../../media/icon/specialist/star-disable.svg", alt="icon")
      button
        img(src="../../media/icon/specialist/star-disable.svg", alt="icon")
    p Поставьте оценку
  form
    textarea(placeholder="Введите текст сообщения")
    .icon
      img(src="../../media/icon/specialist/add_file.svg", alt="image")
    .icon  
      img(src="../../media/icon/specialist/smile.svg", alt="image")
  button Оставить отзыв 