.col-3
  img(src="../../media/image/specialist.png", alt="image").specialist-photo
.col-9
  .specialist-wrap
    h1.big-title Аббазов Ренас Ринатович
    p Старшая медицинская сестра
    p Поликлиническая служба, Отделение пересадки почки
    .specialist-info
      .experience
        ul
          li.dropdown.specDrop
            input(type="checkbox")
            
            a(href="#" data-toggle="dropdown") 
              img(src="../../media/icon/specialist/bag.svg", alt="icon")
              p 10 лет опыта работы
              img.arrow(src="../../media/icon/arrow_down.svg", alt="icon" )
            ul.dropdown-menu
              li
                .acc-item
                  .icon-wrap.exp
                    img(src="../../media/icon/specialist/circle.svg", alt="image")
                  .info
                    p Республиканская Клиническая Больница #[span Август 2017 - Настоящее время]
              li
                .acc-item
                  .icon-wrap.exp
                    img(src="../../media/icon/specialist/circle.svg", alt="image")
                  .info
                    p Республиканская Клиническая Больница #[span Август 2017 - Настоящее время]
              li
                .acc-item
                  .icon-wrap.exp
                    img(src="../../media/icon/specialist/circle.svg", alt="image")
                  .info
                    p Биомед #[span Ноябрь 2017 - мая 2017]      
      .specialist-item
        img(src="../../media/icon/specialist/hat.svg", alt="icon")
        p Закончил: КГЭУ
      .specialist-item
        img(src="../../media/icon/specialist/tel.svg", alt="icon")
        p (843) XXX-XX-XX 
          p.show-phone Показать телефон 
      .specialist-item
        img(src="../../media/icon/specialist/mail.svg", alt="icon")
        a(href="mailto:abdulganievad@rkb.ru") abdulganievad@rkb.ru
      .rank
        .star-block
          button
            img(src="../../media/icon/specialist/star-color.svg", alt="icon")
          button
            img(src="../../media/icon/specialist/star-disable.svg", alt="icon")
          button
            img(src="../../media/icon/specialist/star-disable.svg", alt="icon")
          button
            img(src="../../media/icon/specialist/star-disable.svg", alt="icon")
          button
            img(src="../../media/icon/specialist/star-disable.svg", alt="icon")

        p 8 отзывов
      button.anhors   
        a(href="#feedback") Оставить отзыв           
