@media screen and (max-width: 1340px) {
  .spec-blog {
    .spec-blog-wrap {
      .spec-blog-item {
        p {
          font-size: 14px!important;
        }
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .spec-blog {
    .spec-blog-wrap {
      .spec-blog-item {
        flex: 50%;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .for_specialist-page {
    .aside {
      max-width: 100%;
      ul {
        overflow: scroll;
        li {
          a {
            width: max-content;
          }
        }
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
  .pacient-servis {
    .pacient-servis-wrap {
      .pacient-serv-item {
        flex: 50%;
        margin-right: 15px!important;
      }
      & .pacient-serv-item:nth-child(3n) {
        margin-right: 15px!important;
      }
      & .pacient-serv-item:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  .main-spec {
    .main-spec-wrap {
      .main-spec-item {
        align-items: center;
        flex: 46%;
        .spec-info {
          h4 {
            font-size: 12px;
          }
          .name {
            font-size: 16px;
          }
          .position {
            font-size: 14px;
          }
        }
      }
    }
  }
  .diplom-overlay-modal {
    .modal-img {
      background-position: center;
      max-height: 483px;
      max-width: 350px;
    }
  }
  
}

@media screen and (max-width: 767px) {
  .pacient-servis {
    .pacient-servis-wrap {
      align-items: center;
      .pacient-serv-item {
        flex: 50%;
        margin-right: 0px!important;
        padding-right: 10px!important;
      }
      & .pacient-serv-item:nth-child(3n) {
        margin-right: 0px!important;
      }
      & .pacient-serv-item:nth-child(2n) {
        margin-right: 0;
      }
    }
  }
  .spec-blog {
    .spec-blog-wrap {
      .spec-blog-item {
        flex: 45%;
      }
    }
  }
  .for_specialist-page {
    .big-slider {
      .item {
        width: 100%!important;
        transform: translateX(0px)!important;
      }
      .big-slider__btn.next {
        right: 20px;
      }
      .big-slider__btn.prev {
        left: 20px;
      }
    }
  }
}


@media screen and (max-width: 575px) {
  .for_specialist-page {
    .aside {
      p {
        display: block;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 12px;
      }
      h2 {
        display: block;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 34px;
        color: #111111;
        margin-bottom: 12px;
      }
      ul {
        overflow: scroll; 
        border-bottom: 2px solid #EDEDED;
        &::-webkit-scrollbar {
          display: none;
        }
        li {
          height: 56px;
          border-bottom: none;
          a {
            width: max-content;
            font-size: 14px;
            line-height: 22px;
            text-transform: uppercase;
          }
        }
        .active { 
          border-bottom: 2px solid rgba(21, 129, 221, .9);
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
      }
     
    }
    h1 {
      display: none;
    }
    .firstpargh {
      display: none;
    }
    .big-slider {
      min-height: 240px;
      max-height: 240px;
      .item {
        height: 100%!important;
        margin-top: 0!important;
      }
      .big-slider__btn {
        min-width: 32px;
        width: 32px;
        height: 32px;
        background-size: 18px;
      }
      .big-slider__btn.next {
        right: 16px;
      }
      .big-slider__btn.prev {
        left: 16px;
      }
    }
    .desc {
      padding-bottom: 24px;
    }
  }
  .line {
    margin-bottom: 24px;
  }
  .pacient-servis {
    display: none;
  }
  .diplom-slider {
    .diplom__title {
      font-size: 20px;
      line-height: 26px;
    }
    .diplom-slider__body { 
      .owl-nav {
        display: none;
      }
    }
  }
  .main-spec {
    padding-bottom: 24px;
    margin-bottom: 24px;
    .main-spec-wrap {
      .main-spec-item {
        align-items: center;
        flex: 100%;
        margin: 0;
        padding: 0;
        flex-direction: column;
        text-align: center;
        border: none;
        margin-bottom: 24px;
        .spec-icon {
          margin-right: 0;
          width: 64px;
          height: 64px;
          margin-bottom: 16px;
        }
        .spec-info {
          .name,
          h4 {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .spec-blog {
    .spec-blog-wrap {
      margin-bottom: 32px;
      .spec-blog-item {
        flex: 100%;
        max-width: none;
        margin-right: 0;
      }
    }
  }
  .diplom-overlay-modal {
    .modal-img {
      max-height: 354px;
    max-width: 250px;
    }
  }
}