.col-4
  .accordion
    .accordion_item
      img(src="../../media/icon/department.svg", alt="icon")
      a(href="./single-servises.html") Клинико-экспертное отделение
      p Организационно-методический отдел
      p Патологоанатомическое отделение
      p Отделение медицинской статистики
      .info
        p.info_item Организационно-методический отдел
        p.info_item Организационно-методический отдел
        p.info_item Организационно-методический отдел
        p.info_item Организационно-методический отдел
        p.info_item Организационно-методический отдел
        p.info_item Организационно-методический отдел
        p.info_item Организационно-методический отдел
      button.acc_btn #[span Показать] все (10)