.servis-btn-block
  button Удаление почки  
  button Капельница
  button Уколы
  button Анастезия
  button Клизма
  button Иглоукалывания
  button МРТ
  button Химиотерапия 
  button Медикаментозная кома
  button Аборт
  button Рентген
  button Томограмма 
  button Обследование ЖКТ
  button Лоботомия 
  button Шоковая терапия 
  button Осмотр
  button Лоботомия 