.letters
  .container
    .row
      .col-12
        .more.mobile-more Все отделения
    .row
      .col-12
        .letters__body
          .letter.active А
          .letter Б
          .letter В
          .letter Г
          .letter Д
          .letter Е
          .letter Ж
          .letter З
          .letter.empty И
          .letter.empty Й
          .letter К
          .letter Л
          .letter М
          .letter н
          .letter О
          .letter.empty П
          .letter Р
          .letter С
          .letter Т
          .letter У
          .letter Ф
          .letter Х
          .letter Ц
          .letter ч
          .letter ш
          .letter щ
          .letter.empty ъ
          .letter.empty ы
          .letter.empty ь
          .letter э
          .letter ю
          .letter я