.search-doctor-list
  .list__latter A
  .list__body
    .item
      img.avatar(src='./media/image/avatars/1.png' alt='doctor')
      .info
        .build Поликлиническая служба
        .name Абашина Лариса Викторовна
        .post Старшая медицинская сестра
    .item
      img.avatar(src='./media/image/avatars/2.png' alt='doctor')
      .info
        .build Поликлиническая служба
        .name Абашина Лариса Викторовна
        .post Старшая медицинская сестра
    .item
      img.avatar(src='./media/image/avatars/3.png' alt='doctor')
      .info
        .build Поликлиническая служба
        .name Абашина Лариса Викторовна
        .post Старшая медицинская сестра
    .item
      img.avatar(src='./media/image/avatars/1.png' alt='doctor')
      .info
        .build Поликлиническая служба
        .name Абашина Лариса Викторовна
        .post Старшая медицинская сестра
    .item
      img.avatar(src='./media/image/avatars/5.png' alt='doctor')
      .info
        .build Поликлиническая служба
        .name Абашина Лариса Викторовна
        .post Старшая медицинская сестра
    .item
      img.avatar(src='./media/image/avatars/6.png' alt='doctor')
      .info
        .build Поликлиническая служба
        .name Абашина Лариса Викторовна
        .post Старшая медицинская сестра
    .item
      img.avatar(src='./media/image/avatars/1.png' alt='doctor')
      .info
        .build Поликлиническая служба
        .name Абашина Лариса Викторовна
        .post Старшая медицинская сестра
    .item
      img.avatar(src='./media/image/avatars/2.png' alt='doctor')
      .info
        .build Поликлиническая служба
        .name Абашина Лариса Викторовна
        .post Старшая медицинская сестра
    .item
      img.avatar(src='./media/image/avatars/3.png' alt='doctor')
      .info
        .build Поликлиническая служба
        .name Абашина Лариса Викторовна
        .post Старшая медицинская сестра
    .item
      img.avatar(src='./media/image/avatars/1.png' alt='doctor')
      .info
        .build Поликлиническая служба
        .name Абашина Лариса Викторовна
        .post Старшая медицинская сестра
    .item
      img.avatar(src='./media/image/avatars/5.png' alt='doctor')
      .info
        .build Поликлиническая служба
        .name Абашина Лариса Викторовна
        .post Старшая медицинская сестра
    .item
      img.avatar(src='./media/image/avatars/6.png' alt='doctor')
      .info
        .build Поликлиническая служба
        .name Абашина Лариса Викторовна
        .post Старшая медицинская сестра
    .more Показать еще