.search-doctor-sidebar
  .sidebar__options
    .title Отделения
    .options__list
      .option
        .check.active
        .name Все службы
      .option
        .check
        .name Клинико-экспертная
      .option
        .check
        .name Хирургическая
      .option
        .check
        .name Терапевтическая
      .option
        .check
        .name Акушерско-гинекологическая
      .option
        .check
        .name Поликлиническая
      .option
        .check
        .name Травматологический центр
      .option
        .check
        .name Наука
      .option
        .check
        .name Республиканский центр медицины катастроф
      .option
        .check
        .name Отделение организации платных услуг
  .doctor-of-week(style='background-image: url(./media/image/photo.png)')
    .title Сотрудник недели
    .info
      .name Аббазов Ренас Ринатович
      .desc Врач-ревматолог высшей категории