.footer {
  background: linear-gradient(346.42deg, #004C89 0%, #1E6BD0 100%);
  padding: 32px 0 36px;

  &__row {
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 36px;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    
    .footer__nav {
      flex: 25%;
      .title,
      .main-footer {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        margin-bottom: 16px;
      }

      ul {
        li {
          list-style: none;
          margin-bottom: 16px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
          }
        }
      }
      .information {
        margin-bottom: 24px;
      }
      .social-icon {
        display: flex;
  
        a {
          display: block;
          margin-right: 20px;
  
          img {
            width: 24px;
            height: 24px;
            object-fit: cover;
            object-position: center;
          }
        }
  
        & a:last-child {
          margin-right: 0;
        }
      }
    }
    .information_block {
      ul {
        li {
          margin-bottom: 8px;
        }
      }
    }
    .footer__contact,
    .footer__contact2 {
      display: flex;
      flex-direction: column;
      .title {
        text-transform: uppercase;
      }
      & .title:first-child {
        margin-bottom: 24px;
      }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        margin-bottom: 24px;
      }
      a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
        margin-bottom: 8px;
      }
      .soc-title {
        margin-top: 16px;
      }
    }
    .footer__contact2 {
      padding-top: 46px;
      & .title:first-child {
        margin-bottom: 12px;
      }
    }
  }

  
  &__btns {
    margin-top: 32px;
    display: flex;

    .footer__btn {
      display: block;
      font-weight: 600;
      font-size: 16px;
      line-height: 48px;
      color: #FFFFFF;
      background: #1E6BD0;
      border-radius: 10px;
      padding: 0 32px;
      margin-right: 16px;
    }
  }

  .mobile-btn {
    display: none;
  }
  
  .footer-info {
    display: flex;
   
    justify-content: space-between;
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: #FFFFFF;
    }
    .ministry {
      display: flex;
      
      .ministry-item {
        display: flex;
       margin-right: 60px;
       align-items: center;
        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          object-position: center;
          margin-right: 12px;
        }
      }
      & .ministry-item:last-child {
        margin-right: 0;
      }
    }
  }

}