.header {
  &__top {
    padding: 16px 0 18px;
    border-bottom: 1px solid #EDEDED;

    .top__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .left {
      display: flex;
      align-items: center;

      .header__lang {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #999999;
        margin-right: 16px;

        &:last-child {
          margin-right: 0;
        }

        &--active {
          color: #111111;
        }
      }

      .header__link {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #111111;
        margin-left: 40px;

        img {
          @include base-box(24px);
          object-fit: contain;
          object-position: center;
          margin-right: 8px;
        }
      }
    }

    .right {
      .header__number {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #111111;

        span {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #999999;
        }
      }
    }
  }

  &__bot {
    padding: 19px 0;
    border-bottom: 1px solid #EDEDED;

    .bot-wrapper,
    .bot-modal {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .left {
        display: flex;
        align-items: center;

        .home-link {
          display: flex;
          align-items: center;

          img {
            width: 89.97px;
            height: 66px;
            object-position: center;
            object-fit: contain;
            margin-right: 20px;
          }

          &__text {
            .title {
              font-weight: 600;
              font-size: 16px;
              line-height: 20px;
              color: #111111;
              margin-bottom: 6px;
            }

            .small {
              font-size: 12px;
              line-height: 16px;
              color: #333333;
            }
          }
        }

        .header__navigation {
          margin-left: 31px;

          ul {
            display: flex;

            li {
              list-style: none;
              margin-right: 40px;

              &:last-child {
                margin-right: 0;
              }

              a {
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                color: #111111;
              }
            }
          }
        }
      }

      .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .header__search {
          display: block;
          margin-right: 40px;

          img {
            @include base-box(24px);
            object-fit: contain;
            object-position: center;
          }
        }

        .header__menu-btn {
          display: flex;
          align-items: center;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          text-align: right;
          color: #111111;
          cursor: pointer;

          .humb {
            margin-left: 8px;
            @include base-box(24px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-image: url(../media/icon/humb.svg);
            @include base-background(18px 12px);
          }
        }
      }
    }
    .bot-modal {
      .left {
        .home-link {
          &__text {
            .title {
             color: #fff;
            }
            .small {
              color: rgba(255, 255, 255, 0.6);
            }
          }
        }

      }
    }
    .bot-modal {
      display: none;
    }
  }
}

.modal-overlay {
  padding: 33px 0;
  display: none;
  // background: linear-gradient(348.31deg, #004C89 32.11%, #1E6BD0 92.68%);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 16px;

  .modal-item {
    .modal-list {
      li {
        list-style: none;
        margin-bottom: 16px;

        a {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
          color: #FFFFFF;
        }
      }

      & li:last-child {
        margin-bottom: 0;
      }
    }

    .other-list {
      li {
        list-style: none;
        margin-bottom: 16px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;

        a {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          color: #FFFFFF;
        }
      }

      & li:last-child {
        margin-bottom: 0;
      }
    }

    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
      margin-bottom: 16px;
    }

    .social-icon {
      display: flex;

      a {
        display: block;
        margin-right: 16px;

        img {
          width: 24px;
          height: 24px;
          object-fit: cover;
          object-position: center;
        }
      }

      & a:last-child {
        margin-right: 0;
      }
    }
  }
}

.middle {
  width: 100%;
  max-width: 779px;
  padding: 0 40px;
  display: block;
  position: relative;
  input {
    width: 100%;
    padding: 16px 16px 16px 54px;
    border-radius: 10px;
    border: none;
    font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #111;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #999999;
    }
  }
  &::after {
    content: "";
    background-image: url(../media/icon/search.svg);
    background-position: center;
    background-size: cover;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 55px;
    top: 50%;
    transform: translateY(-50%);
    opacity: .5;
  }
}

.modal__menu-btn {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  color: #fff;
  cursor: pointer;
  

  .close {
    margin-left: 8px;
    @include base-box(24px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../media/icon/close-menu.png);
    @include base-background(24px);
  }
}




.bot-modal.active {
  display: flex; 
}
.modal-overlay.active {
  display: block;
}

.header.active {
  background: -webkit-linear-gradient(101.69deg, rgb(0, 76, 137) 32.11%, rgb(30, 107, 208) 92.68%);
}