@mixin base-box($size) {
  min-width: $size;
  width: $size;
  height: $size;
}

@mixin base-background($size) {
  background-position: center;
  background-repeat: no-repeat;
  background-size: $size;
}