.big-title {
  font-weight: 600;
  font-size: 42px;
  line-height: 50px;
}

.small-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
}

.stop-scroll {
  overflow: hidden;
  height: 100vh;
}